.etoast-full-screen-mask {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    background-color: rgba(0, 0, 0, .7);
}

.etoast-success-toast {
    display: none;
    position: fixed;
    left: 20vw;
    top: 30vh;
    z-index: 20;
    height: 60vw;
    width: 60vw;
    border-radius: 10vw;
    overflow: hidden;
    background-color: #fff;
}

.etoast-success-toast-img {
    display: block;
    height: 40vw;
    width: 40vw;
    margin: 2vw auto 0;
}

.etoast-success-toast-tip {
    width: 100%;
    line-height: 15vw;
    font-size: 5vw;
    text-align: center;
}

.etoast-error-toast {
    display: none;
    position: fixed;
    left: 20vw;
    top: 30vh;
    z-index: 20;
    height: 60vw;
    width: 60vw;
    border-radius: 10vw;
    overflow: hidden;
    background-color: #fff;
}

.etoast-error-toast-img {
    display: block;
    height: 40vw;
    width: 40vw;
    margin: 2vw auto 0;
}

.etoast-error-toast-tip {
    width: 100%;
    line-height: 15vw;
    font-size: 5vw;
    text-align: center;
}

.etoast-loading-toast {
    display: none;
    position: fixed;
    left: 20vw;
    top: 30vh;
    z-index: 20;
    height: 60vw;
    width: 60vw;
    border-radius: 10vw;
    overflow: hidden;
    background-color: #fff;
}

.etoast-loading-toast-img {
    display: block;
    height: 40vw;
    width: 40vw;
    margin: 2vw auto 0;
}

.etoast-loading-toast-tip {
    width: 100%;
    line-height: 15vw;
    font-size: 5vw;
    text-align: center;
}
